<h1>listing artiles</h1>

<table>
<tr>
<th>title</th>
<th>text</th>
</tr>

<% @articles.each do |article| %>
  <tr>
    <td> <%= article.title %> </td>
    <td> <%= article.text %> <td/>
  </tr>

<% end %>
</table>

<%= link_to 'New Article', new_article_path %>
